/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

h2, h3{
    margin: 0;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin: 0;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
}

header img {
    height: 19px;
    margin-top: 30px;
    margin-bottom: 30px;
}

nav {
    display: flex;
    gap: 68px;
}

nav a {
    padding-top: 14px;
    padding-bottom: 14px;
}

nav a:hover {
    color: #0065FC;
    cursor: pointer;
    padding-top: 12.6px;
    border-top: #0065FC 2px solid;
}

/****** Search-section ***********/

.search-section {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title p {
    margin: 0;
}

form {
    max-width: 377px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 49px;
    box-sizing: border-box;
}

.localisation-icon {
    height: 100%;
    width: 50px;
    min-width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.localisation-icon i {
    height: 18px;
    color: black;
}

input {
    width: 195px;
    height: 49px;
    border: solid 1px #F2F2F2;
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 18px;
    padding: 0;
}

form button {
    width: 132px;
    height: 49px;
    background-color: #0065FC;
    padding: 15px 16px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 0 15px 15px 0;
    border: none;
    cursor: pointer;
}

form button .fa-solid {
    display: none;
    height: 17px;
}

/************ Filters **************/
.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.filters-container {
    display: flex;
    gap: 15px;
}

.filters-container div{
    display: flex;
    gap: 15px;
}

.filters-container button {
    height: 50px;
    padding: 4px 19px;
    border-radius: 25px;
    border: solid 2px #D9D9D9;
    color: black;
    background-color: transparent;
    font-size: 17px;
    font-weight: 700; 
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.filters-container button:hover {
    background-color: #DEEBFF; 
    cursor: pointer;
}

.info{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
}

.info p {
    margin: 0;
}

.info i {
   min-width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.hebergements-card a {
    width: 100%;
}

.hebergements-card{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}



.hebergements-card .card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-card img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-card .card-content {
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
}

.hebergements-card .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements-card .card-content p {
    margin: 0;
}

.voir-plus{
    cursor: pointer;
    text-align: left;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    width: 120px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Section Activités *******/

.activités {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activités-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.activités-cards a {
    width: 100%;
}

.activités-cards .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.activités-cards .card img {
    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.activités-cards .card-txt{
    padding: 20px 19px;
}


/******** footer ***********/
footer {
    background-color: #F2F2F2;
    width: 100%;
    display: flex;
}

footer h3 {
    font-size: 18px;
}

footer div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
}






/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .filters {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .filters-container button {
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activités-cards .card img {
        height: 200px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .main-container {
        padding: 0;
    }

    /**** header ***/

    header{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    nav {
        width: 100%;
        justify-content: space-around;
        gap: 0;
    }

    nav a{ 
        width: 100%;
        padding-top: 0px;
        padding-bottom: 12.6px;
        border-bottom: solid 2px #F2F2F2;
        text-align: center;
    }
    
    nav a:hover {
        border-top: none;
        border-bottom: solid 2px #0065FC;
        padding-bottom: 12.6px;
        padding-top: 0px;
    }

    /**** Search-section ***/
    .search-section {
        padding: 0 20px;
    }

    .search-section form {
        width: 100%;
        max-width: none;
        border: solid 1px #F2F2F2;
        border-radius: 15px;
    }

    .search-section form button span {
        display: none
    }

    .search-section form input {
        width: 100%;
        height: 100%;
        border-color: transparent;
    }

    .search-section form button{
        width: 49px;
        height: 49px;
        border-radius: 15px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .search-section form button .fa-solid {
        display: inline;
        color: white;
    }


    /**** Filtres ***/
    .filters {
        gap: 20px;
    }

    .filters-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .filters-container button {
        width: 100%;
        justify-content: center;
        font-size: 14px;
    }


    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 35px 20px;
    }

    .hebergements-and-populaires section:not(.populaires) {
        background-color: transparent;
        padding: 20px;
    }

    /**** Populaires ***/
    .populaires {
        margin-top: 0;;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards a{
        width: 100%;
    }

    .populaires-cards .card{
        margin-top: 15px;
    }

    /**** hebergements **/
    .hebergements {
        width: 100%;
        gap: 15px;
    }

    .hebergements-card {
        flex-direction: column;
        gap: 15px;
    }

    .hebergements-card a{
        width: 100%;
    }


    /*** Activités ***/
    .activités-cards {
        flex-direction: column;
        gap: 15px;
    }

    .activités-cards img{
        height: 141px;
    }

    /*** footer ***/
    footer {
        margin-top: 0;
        padding: 30px;
        flex-direction: column;
        gap: 50px;
        width: auto;
    }

    footer div{
        padding: 0;
    }
}