/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

h2, h3{
    margin: 0;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 19px;
    margin-top: 30px;
    margin-bottom: 30px;
}

nav {
    display: flex;
    gap: 48px;
}

nav a {
    padding-top: 30px;
    padding-bottom: 30px;
}

nav a:hover {
    color: #0065FC;
    cursor: pointer;
    padding-top: 28.6px;
    border-top: #0065FC 2px solid;
}

/****** Search-section ***********/
form {
    display: flex;
    flex-direction: row;
    height: 49px;
}

.localisation-icon {
    height: 100%;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.localisation-icon i {
    height: 18px;
    color: black;
}

input {
    border: solid 1px #F2F2F2;
    text-align: center;
    color: black;
    font-weight: 700;
    font-size: 18px;
}

form button {
    background-color: #0065FC;
    padding: 15px 16px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border-radius: 0 15px 15px 0;
    border: none;
    cursor: pointer;
}

/************ Filters **************/
.filters h2{
    font-size: 18px;
    font-weight: 700;
}

.filters-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filters-container div{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filters-container button {
    height: 50px;
    padding: 4px 19px;
    border-radius: 25px;
    border: solid 2px #D9D9D9;
    color: black;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700; 
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.filters-container button i {
    font-size: 22px;
}

.filters-container button:hover {
    background-color: #DEEBFF; 
    cursor: pointer;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info i {
    padding: 12px;
    border: solid 1px #0065FC;
    border-radius: 50px;
}




/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.hebergements-card a {
    width: 100%;
}

.hebergements-card{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}



.hebergements-card .card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-card img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-card .card-content {
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
}

.hebergements-card .card-title {
    margin-top: 10px;
    margin-bottom: 8px;
}

.hebergements-card .card-content p {
    margin: 0;
}

.voir-plus{
    cursor: pointer;
    text-align: left;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    width: 120px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/****** Section Activités *******/

.activités {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activités-cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.activités-cards a {
    width: 100%;
}

.activités-cards .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.activités-cards .card img {
    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.activités-cards .card-txt{
    padding: 20px 19px;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}